//Override Variables in scaffolding.less

@import "../node_modules/material-ui/src/less/mixins/transitions.less";
@import "../node_modules/material-ui/src/less/components/input.less";
@import "../node_modules/material-ui/src/less/variables/custom-variables.less";
@import "../node_modules/material-ui/src/less/components/text-field.less";
@import "../node_modules/material-ui/src/less/core/base.less";
@import "../node_modules/material-ui/src/less/variables/media-queries.less";

//styles

.ease-out(@duration: 450ms; @property: all; @delay: 0ms) {
  transition: @property @duration @ease-out-function @delay;
  -webkit-transition: @property @duration @ease-out-function @delay;
}
@body-text-color: @white;
@primary-1-color: @white;

.mui-text-field-focus-underline {
//  border-bottom-width: 2px;
}
.mui-text-field {
  width: 800px;
//  @disabled-text-color: @white;
  @disabled-text-color: fade(@body-text-color, 1);
}
.mui-text-field .mui-text-field-hint{
  color: @white;
  font-size: 36px;
}
hr {
//  border-color: @body-text-color;
}
@device-x-large: ~"only screen and (max-width: 1200px)";
@device-large:   ~"only screen and (max-width: 992px)";
@device-medium:  ~"only screen and (max-width: 768px)";
@device-small:   ~"only screen and (max-width: 375px)";
